Repository voxpupuli/puppet-kafka, pull requests merged in 2018-06, with the labels that each got.

#257 Some updates to be able to use an internal http mirror with proxy to download the .tar.gz archive
  README.md
  manifests/init.pp
  manifests/params.pp
Labels: enhancement

#135 Ensure the process is killed before finishing stop
  templates/init.erb
Labels: bug

#259 release 5.2.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
