Repository voxpupuli/puppet-kafka, pull requests merged in 2018-07, with the labels that each got.

#261 Use closest mirrors
  manifests/params.pp
Labels: enhancement

#263 Use correct mirror url
  manifests/params.pp
Labels: bug

#260 add support for topic configurations at creation time
  manifests/topic.pp
  spec/defines/topic_spec.rb
Labels: enhancement

#267 add debian 8/9 & ubuntu 16.04 support, drop 14.04
  .sync.yml
  metadata.json
Labels: enhancement

#269 release 5.3.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#270 modulesync 1.9.3
  .msync.yml
  .travis.yml
  Gemfile
Labels: modulesync

#274 modulesync 1.9.4
  .msync.yml
  .travis.yml
Labels: modulesync
