Repository voxpupuli/puppet-kafka, pull requests merged in 2020-05, with the labels that each got.

#307 Fix init script parameter bug
  spec/acceptance/broker_spec.rb
  spec/acceptance/consumer_spec.rb
  spec/acceptance/mirror_spec.rb
  spec/acceptance/producer_spec.rb
  templates/init.erb
Labels: bug

#311 modulesync 2.12.0
  .github/settings.yml
Labels: skip-changelog

#303 Rename parameters
  manifests/broker.pp
  manifests/broker/config.pp
  manifests/broker/install.pp
  manifests/broker/service.pp
  manifests/consumer.pp
  manifests/consumer/config.pp
  manifests/consumer/install.pp
  manifests/consumer/service.pp
  manifests/init.pp
  manifests/mirror.pp
  manifests/mirror/config.pp
  manifests/mirror/install.pp
  manifests/mirror/service.pp
  manifests/params.pp
  manifests/producer.pp
  manifests/producer/config.pp
  manifests/producer/install.pp
  manifests/producer/service.pp
  spec/acceptance/broker_spec.rb
  spec/acceptance/init_spec.rb
  spec/acceptance/mirror_spec.rb
  spec/classes/broker_spec.rb
  spec/classes/init_spec.rb
  templates/init.erb
  templates/unit.erb
Labels: backwards-incompatible

#304 Add support for Puppet Strings
  Gemfile
  README.md
  REFERENCE.md
  manifests/broker.pp
  manifests/broker/config.pp
  manifests/broker/install.pp
  manifests/broker/service.pp
  manifests/consumer.pp
  manifests/consumer/config.pp
  manifests/consumer/install.pp
  manifests/consumer/service.pp
  manifests/init.pp
  manifests/mirror.pp
  manifests/mirror/config.pp
  manifests/mirror/install.pp
  manifests/mirror/service.pp
  manifests/params.pp
  manifests/producer.pp
  manifests/producer/config.pp
  manifests/producer/install.pp
  manifests/producer/service.pp
  manifests/topic.pp
Labels: enhancement
