Repository voxpupuli/puppet-kafka, pull requests merged in 2020-04, with the labels that each got.

#295 modulesync 2.12.0
  .msync.yml
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync

#298 release 6.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#301 Add function assert_private()
  manifests/broker/config.pp
  manifests/broker/install.pp
  manifests/broker/service.pp
  manifests/consumer/install.pp
  manifests/consumer/service.pp
  manifests/mirror/config.pp
  manifests/mirror/install.pp
  manifests/mirror/service.pp
  manifests/producer/install.pp
  manifests/producer/service.pp
Labels: enhancement

#297 Add support for Debian 10, Ubuntu 18.04
  .sync.yml
  .travis.yml
  README.md
  metadata.json
Labels: enhancement

#299 Make owner of files/directories configurable
  manifests/broker/config.pp
  manifests/consumer/config.pp
  manifests/init.pp
  manifests/mirror/config.pp
  manifests/producer/config.pp
  spec/acceptance/broker_spec.rb
  spec/acceptance/consumer_spec.rb
  spec/acceptance/init_spec.rb
  spec/acceptance/mirror_spec.rb
  spec/acceptance/producer_spec.rb
Labels: backwards-incompatible, enhancement

#281 Match params of init script with the ones of systemd unit
  spec/classes/broker_spec.rb
  templates/init.erb
Labels: bug
