Repository voxpupuli/puppet-kafka, pull requests merged in 2021-08, with the labels that each got.

#326 allow latest dependencies
  metadata.json
Labels: enhancement

#331 Release 8.0.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog

#333 Drop EoL Puppet 5; Add Puppet 7 support
  metadata.json
Labels: backwards-incompatible

#332 modulesync 4.1.0
  .editorconfig
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .msync.yml
  .overcommit.yml
  .pmtignore
  .rspec
  .rspec_parallel
  .rubocop.yml
  .yardopts
  Dockerfile
  Gemfile
  README.md
  Rakefile
  spec/classes/broker_spec.rb
  spec/classes/consumer_spec.rb
  spec/classes/mirror_spec.rb
  spec/spec_helper.rb
Labels: modulesync
