Repository voxpupuli/puppet-kafka, pull requests merged in 2024-04, with the labels that each got.

#361 puppet/systemd: Allow 6.x
  metadata.json
Labels: enhancement

#359 puppet/archive: Allow 7.x
  metadata.json
Labels: enhancement

#360 puppetlabs/java: Allow 10.x
  metadata.json
Labels: enhancement

#362 modulesync 7.4.0
  .github/CONTRIBUTING.md
  .gitignore
  .msync.yml
  Dockerfile
Labels: modulesync

#363 feat: add option to allow for custom log4j configuration
  .puppet-lint.rc
  REFERENCE.md
  manifests/broker.pp
  manifests/broker/config.pp
  spec/classes/broker_spec.rb
Labels: enhancement

#365 modulesync 7.5.0
  .msync.yml
  .puppet-lint.rc
Labels: modulesync

#364 chore: clean up documentation
  .puppet-lint.rc
  REFERENCE.md
  manifests/broker.pp
  manifests/consumer.pp
  manifests/consumer/config.pp
  manifests/mirror.pp
  manifests/producer/config.pp
Labels: docs, skip-changelog
