Repository voxpupuli/puppet-kafka, pull requests merged in 2024-02, with the labels that each got.

#336 modulesync 7.3.0
  .fixtures.yml
  .github/CONTRIBUTING.md
  .github/SECURITY.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .msync.yml
  .pmtignore
  .puppet-lint.rc
  Dockerfile
  Gemfile
  REFERENCE.md
  Rakefile
  spec/acceptance/01_zookeeper_spec.rb
  spec/acceptance/broker_spec.rb
  spec/acceptance/consumer_spec.rb
  spec/acceptance/init_spec.rb
  spec/acceptance/mirror_spec.rb
  spec/classes/broker_spec.rb
  spec/classes/consumer_spec.rb
  spec/classes/init_spec.rb
  spec/classes/mirror_spec.rb
  spec/classes/producer_spec.rb
  spec/defines/topic_spec.rb
  spec/shared_examples_param_validation.rb
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
Labels: modulesync

#347 puppetlabs/stdlib: Allow 9.x
  metadata.json
Labels: enhancement

#341 bump puppet/systemd to < 5.0.0
  metadata.json
Labels: enhancement

#352 correct legacy fact ::osfamily in zookeeper spec
  spec/acceptance/01_zookeeper_spec.rb
Labels: skip-changelog

#348 Add Puppet 8 support
  metadata.json
Labels: enhancement

#353 Add ubuntu 20.04 and 22.04 support
  metadata.json
Labels: enhancement

#354 Add Rocky, EL 8 and 9 support
  metadata.json
Labels: enhancement

#356 Add Debian 11 and 12 support
  metadata.json
Labels: enhancement
